@import url(./base.css);
@import url(theme.css);
@import url(hero.css);
@import url(interests.css);
@import url(experience.css);
@import url(education.css);
@import url(tools.css);
@import url(chat.css);
@import url(header.css);

@media (max-width: 560px) {
  .main {
    width: 268px;
  }

  .experience__info {
    margin-bottom: 8px;
  }

  .tools-section__tools-content {
    flex-direction: row;
    width: auto;
  }

  .tools-section {
    width: 270px;
  }
}